
body {
    margin: 0;
}

/* ==========
    HEADING & NAV
========== */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: aqua;
}

header h1 {
    float: left;
    width: 30%;
    font-size: 1em;
}

nav {
    float: right;
    width: 70%;
    padding-top: 2vh;
}

nav > a {
    padding: 5px 5vw;
}





/* ==========
    MAIN
========== */

main {
    display: grid;
    grid-template-columns: ;


    margin-top: 75px; /* because of the fixed header */
}

main img {
    width: 25%;
    min-width: 200px;
}



/* ==========
    MEDIA QUERIES
========== */


@media screen and (max-width: 480px) {
    body {
        background-color: lightgreen;
    }
}

@media screen and (min-width: 481px) and (max-width: 1200px) {
    body {
        background-color: deepskyblue;
    }
}
@media screen and (min-width:1201px) {
    body {
        background-color: darksalmon;
    }
}